table{
    border-collapse: collapse;
    width: 100%;
}
table>*{
    text-align: center;
}
table>tbody>tr:nth-child(2n){
    background: #F4F4F4;
}
table>tbody>tr:nth-child(2n-1){
    background: #ffffff;
}
header{
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    color: #ffffff;
}
header,table>thead>tr>th:first-child{
    background: #0F6DB7;
    color: white;
    font-weight: normal;
}
table>thead>tr>th:not(first-child){
    background: #022F4E;
    color: white;
    font-weight: normal;
}
table tr{
    height: 45px;
}
table>thead>tr>th:nth-child(2){
    width: 180px;
}
table>tbody>tr>td:nth-child(2){
    width: 60px;
    border: 1px solid #E8EAE9;
}
table>tbody>tr>td>a,table>tbody>tr>td:nth-child(3){
    text-align: left;
    color: #6594C2;
    padding-left: 5px;
    text-decoration: none;
}
table>tbody>tr>td>img{
    display: inline-block;
    width: 40px;
    height: 40px;
}